
{{- $src := .Destination -}}

{{- with dict "Path" $src "Resources" .Page.Resources | partial "function/resource.html" -}}
    {{- $src = .RelPermalink -}}
{{- end -}}

{{ $sign := md5 $src}}


{{ $str := split .Text "|" }}

{{ $text := index $str 0 }}

{{ $size := default "big" (index $str 1) }}

<figure class="image component image-fullbleed body-copy-wide nr-scroll-animation nr-scroll-animation--on image-{{ $size }}">  <div class="component-content">
    <div class="image-sharesheet">
      <div class="image image-load image-asset image-{{ $sign }}" id="lht{{ $sign }}">
        <picture  class="picture">
          <img class="picture-image" data-src="{{ $src  | safeURL }}" alt="{{ .Text }}"  />
        </picture>
      </div>
    </div>
    <div class="image-description">
      <div class="image-caption">
        {{ $text }}
      </div>
    </div>
  </div>
</figure>
