<!DOCTYPE html>
<html class="js no-touch  progressive-image  no-reduced-motion progressive" lang="{{ .Site.Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="{{ if .IsPage }} page-article {{ else }} page-landing {{ end }}  {{ if eq .Page.Params.theme "dark" }} theme-dark {{ end }}">
    <header>
      {{ partial "header.html" . }}
    </header>
    {{ block "main" . }}
    {{ end }}
    {{ $isDark := eq .Page.Params.theme "dark"}}
    {{ partial "footer.html" (dict "dark" $isDark) }}

  </body>
    <!-- algolia related script -->
    {{ if site.Params.algolia.enabled }}
    <script src="{{ "js/algoliasearch.umd.js" | relURL }}"></script>
    <script src="{{ "js/autocomplete-js.js" | relURL }}"></script>
    {{ end }}

    <!-- custom js files -->
    {{ range site.Params.js }}
        <script src="{{ .url | relURL }}"></script>
    {{ end }}
</html>
