{{ define "main" }}
<div class="results">
    <div class="results__content">

        {{ range (.Paginate (.Pages.GroupByDate "2006-01")).PageGroups }}
        <div class="result" role="group">

        <!-- add day manually to parse as date-->
        {{ $month := printf "%s%s" .Key "-01"}}
            <h2 class="result__title">{{ $month | time.Format "January 2006" }}</h2>
            {{ range .Pages }}

            {{ partial "archiveItem.html" (dict "context" .) }}

            {{ end }}

        </div>
        {{ end }}
    </div>
</div>

{{ partial "pagination.html" . }}


{{ end }}


