<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{ "img/favicon.ico" | relURL }}">

    <meta name="keyword" content="{{ .Site.Params.keyword }}">

    {{- template "_internal/opengraph.html" . -}}

    <title>{{ .Title }}</title>

    <link rel="canonical" href="{{ .Permalink | relURL }}">

    <link rel="stylesheet" href="{{ "css/global.css" | relURL }}">

    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">

    <link rel="stylesheet" href="{{ "css/search.css" | relURL }}" />

    <!-- algolia related style -->
    {{ if site.Params.algolia.enabled }}
    <link rel="stylesheet" href="{{ "css/autocomplete-theme-classic.css" | relURL }}" />
    {{ end }}

    <!-- custom style files -->
    {{ range site.Params.css }}
    <link rel="stylesheet" href="{{ .url | relURL }}" />
    {{ end }}

</head>