<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="{{ "img/favicon.ico" | relURL }}">

    <meta name="keyword" content="{{ .Site.Params.keyword }}">

    <title>{{ .Title }}</title>

    <link rel="canonical" href="{{ .Permalink | relURL }}">

    <link rel="stylesheet" href="{{ "css/global.css" | relURL }}">

    <link rel="stylesheet" href="{{ "css/custom.css" | relURL }}">
</head>