<nav class="nav">
  <div class="nav-wrapper">
    <div class="nav-content-wrapper">
      <div class="nav-content">
        <a href="{{ "" | relURL }} " class="nav-title">{{ .Site.Title }}</a>
        <div class="nav-menu">
          <div class="nav-item-wrapper">
            <a href="{{ "posts" | relURL }} " class="nav-item-content">{{ i18n "posts" }}</a>
          </div>
          <div class="nav-item-wrapper">
            <a href="{{ "about" | relURL }}" class="nav-item-content">{{ i18n "about" }}</a>
          </div>
          <div class="nav-item-wrapper">
            <a href="{{ "index.xml" | relURL }}" class="nav-item-content" target="_blank">RSS</a>
          </div>
          {{ if site.Params.algolia.enabled }}
          <div class="nav-item-wrapper">
            <a href="#" onclick="toggleSearchModal()" class="nav-item-content">{{ i18n "search" }}</a>
          </div>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</nav>
<div id="modalSearch" style="display: none;" onclick="toggleSearchModal()">
    <div class="modal-dialog">
      <div class="modal-body">
          {{ partial "search.html" . }}
      </div>
    </div>
</div>
<script>
  function toggleSearchModal(){
    const modal = document.querySelector("#modalSearch")
    if(modal.style.display === "none"){
      modal.setAttribute("style","display:block")
    } else {
      modal.setAttribute("style","display:none")
    }
  }
</script>